* {
    margin: 0;
    padding: 0;
}

.proiecte {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pagina {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: 200px 75px 1fr;
    grid-template-areas: 
    "echipa echipa echipa"
    "nav nav nav"
    "mss continut msd";
    height: 100vh;
    width: 100%;
}

header {
    grid-area: echipa;display: flex;
    align-items: center;
    justify-content: center;
}

.meniu-p {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    text-decoration: none;
    list-style: none;
}



.meniu-s {
    grid-area: mss;
}

.meniu-persoane {
    grid-area: msd; 
}